---

const {  title, description, iconSvg } = Astro.props;
---

<div class="bg-white rounded-lg p-6 text-center">
  <div class="flex justify-center mb-4">
    <!-- Aquí renderizamos el SVG pasado como propiedad -->
    {iconSvg && <div set:html={iconSvg} class="w-6 h-6 text-[#8B4513]" />}  </div>
  <h4 class="text-xl font-semibold text-[#8B4513] mb-2">{title}</h4>
  <p class="text-[#A0522D]">{description}</p>
</div>